<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>OA</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!--　浏览器不支持put,delete等method,由该filter将/blog?_method=delete转换为标准的http　delete方法　-->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>com.filter.MyHiddenHttpMethodFilter</filter-class>
	</filter>
	

	<servlet>
		<servlet-name>springDispather</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath:springDispather-servlet.xml,classpath:applicationContext.xml</param-value>  
    </init-param> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>springDispather</servlet-name>
	</filter-mapping>
	
	<servlet-mapping>
		<servlet-name>springDispather</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>chinacode</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>chinacode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
</web-app>