<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">  
	
    <!-- 开启 Spring 注解Bean包扫描 -->
    <context:component-scan base-package="com" />
    
    <!-- 开启 Spring 注解声明式事务 -->
    <tx:annotation-driven />
    
   <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/demo" />
		<property name="username" value="root" />
		<property name="password" value="xue_lang" />
   </bean>
    
    <!-- 配置 Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
    	p:dataSource-ref="dataSource">
    	
    	<!-- Hibernate O/R 映射文件 -->
    	<property name="mappingResources">
    		<list>
    		</list>
    	</property>
    	
    	<!-- Hibernate 配置参数 -->
    	<property name="hibernateProperties">
    		<props>
    			<!-- 数据库方言: MySql -->
    			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    			<!-- 打印生成的SQL语句 -->
    			<prop key="hibernate.show_sql">true</prop>
    			<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
    		</props>
    	</property>
    	
    	<!-- Hibernate 注解包扫描 -->
		<property name="packagesToScan" value="com.entity" />
    </bean>
    
    <!-- 对 Hibernate Session 启动声明式事务管理 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 
    Hibernate Dao 模板类
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate"
    	p:sessionFactory-ref="sessionFactory"/>
    	
    JDBC Dao 模板类
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
        p:dataSource-ref="dataSource"/> -->
        
     <!-- 国际化资源配置  那么，Spring就会在项目中搜索相关的国际化属性文件，如：message.properties、message_zh_CN.properties-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
     	<property name="basename" value="classpath:message"/>  
        <property name="defaultEncoding" value="utf-8"/>  
	</bean>    
        
        
</beans>  